<div>
    <h2 data-translate="gameexchangeApp.foto.home.title">Fotos</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="foto.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="gameexchangeApp.foto.home.createLabel">
                        Create new Foto
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="gameexchangeApp.foto.nombre">Nombre</span></th>
                    <th><span data-translate="gameexchangeApp.foto.descripcion">Descripcion</span></th>
                    <th><span data-translate="gameexchangeApp.foto.creado">Creado</span></th>
                    <th><span data-translate="gameexchangeApp.foto.foto">Foto</span></th>
                    <th><span data-translate="gameexchangeApp.foto.producto">Producto</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="foto in vm.fotos track by foto.id">
                    <td><a ui-sref="foto-detail({id:foto.id})">{{foto.id}}</a></td>
                    <td>{{foto.nombre}}</td>
                    <td>{{foto.descripcion}}</td>
                    <td>{{foto.creado | date:'medium'}}</td>
                    <td>
                        <a ng-if="foto.foto" ng-click="vm.openFile(foto.fotoContentType, foto.foto)">
                            <img data-ng-src="{{'data:' + foto.fotoContentType + ';base64,' + foto.foto}}" style="max-height: 30px;" alt="foto image"/>
                        </a>
                        <span ng-if="foto.foto">{{foto.fotoContentType}}, {{vm.byteSize(foto.foto)}}</span>
                    </td>
                    <td>
                        <a ui-sref="producto-detail({id:foto.producto.id})">{{foto.producto.nombre}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="foto-detail({id:foto.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="foto.edit({id:foto.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="foto.delete({id:foto.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
