<div>
    <h2 data-translate="gameexchangeApp.videojuego.home.title">Videojuegos</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="videojuego.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="gameexchangeApp.videojuego.home.createLabel">
                        Create new Videojuego
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="gameexchangeApp.videojuego.nombre">Nombre</span></th>
                    <th><span data-translate="gameexchangeApp.videojuego.categoria">Categoria</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="videojuego in vm.videojuegos track by videojuego.id">
                    <td><a ui-sref="videojuego-detail({id:videojuego.id})">{{videojuego.id}}</a></td>
                    <td>{{videojuego.nombre}}</td>
                    <td>
                        <span ng-repeat="categoria in videojuego.categorias">
                            <a class="form-control-static" ui-sref="categoria-detail({id: categoria.id})">{{categoria.nombre}}</a>{{$last ? '' : ', '}}
                        </span>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="videojuego-detail({id:videojuego.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="videojuego.edit({id:videojuego.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="videojuego.delete({id:videojuego.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
